.wrapper {
    width: 100%;
    background: #564d4d;
    padding-bottom: 24px;
    min-height: 100vh;
}
.wrapper.grey {
    background: #564d4d; 
}
.wrapper.red {
    background:#cc1212; 
}

.content {
    margin: 0 auto;
    /* border: 5px solid #fff; */
    height: 100%;
    max-width: 980px;
}
.logo {
    width: 150px;
    padding: 12px 0 10px 0;
}
.menu {
    height: 130px;
    display: flex;
    justify-content: space-around;
    background: #fff;
}
.menu a {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    width: calc(100% / 6);
    font-size: 30px;
    text-transform: uppercase;
}
.menu a.green {
    background: rgb(0, 165, 8);
}
.menu a.purple {
    background: rgb(179, 2, 179);
}
.menu a.pink {
    background: rgb(211, 7, 75);
}
.menu a.blue {
    background: rgb(30, 119, 146);
}
.menu a.green2s {
    background: rgb(26, 151, 53);
}
.menu a.yellow{
    background: rgb(238, 215, 4);
}
.menu a:hover {
    opacity: .7;
}

.personage {
    display: flex;
    border: 1px solid #fff;
    margin-bottom: 24px; 
}
.personage-description {
    color: #fff;
    font-size: 24px;
    padding: 12px;
}
.personage-description__label {
    text-transform: uppercase;
}
.personage-description__text {
    font-size: 20px;
}

.person1 {
    background: url(image/ems.jpg) no-repeat center;
}
.person2 {
    background: url(image/Barly.jpg) no-repeat center;
}
.person3 {
    background: url(image/RIKO.jpg) no-repeat center;
}
.person4 {
    background: url(image/Edgar.jpg) no-repeat center;
}
.person5 {
    background: url(image/Cquike.jpg) no-repeat center;
}   
.person6 {
    background: url(image/Amber.jpg) no-repeat center;
}    
.person7 {
    background: url(image/Bass.jpg) no-repeat center;
}
.personage-image {
    margin-right: 24px;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    background-size: cover;
}
.personage-image img {
    width: 150px;
}
